h1 {
  color: red;
  text-align: center;
}

// app
$width: 500px;
$height: 600px;
$padding: 20px;
$itemWidth: $width - ($padding * 2);
$itemHeightLg: 50px;
$itemHeightSm: 25px;
$itemPadding: 5px;
$listContainerBorder: 1px solid #aaa;
$listItemBorder: 1px solid #ccc;
$defaultInputSize: 1.2rem;

$darkGreen: #006600;
$lightGreen: #ccffcc;
$darkRed: #660000;


#app {
  width: $width;
  height: $height;
  margin: 20px auto 0 auto;
  box-shadow: 0 2px 10px #ccc;
  padding: $padding;
  box-sizing: border-box;

  input {
    margin-bottom: $padding;
    font-size: $defaultInputSize;
    padding-left: $itemPadding;
  }

  div {
    margin-top: $padding;
  }

  // countdown
  .clock {
    border: 1px solid black;
    text-align: center;
    margin: 0;
    margin-bottom: 40px;
  }

}

// login view
#app[data-state="login"] {

  input[name="name"] {
    width: $itemWidth;
    height: $itemHeightLg;
  }

  input[type="submit"] {
    width: $itemWidth;
    height: $itemHeightLg;
    background-color:$darkGreen;
    color: white;
    border-radius: 10px;
  }
}


// room view
#app[data-state="room"] {

  input[type="submit"] {
    width: $itemWidth;
    height: $itemHeightLg;
    background-color:$darkGreen;
    color: white;
    border-radius: 10px;
  }

  div.connected {
    height: $height - 200px;
    width: $itemWidth;
    overflow: auto;

    div {
      border-radius: $itemHeightLg;
      width: 100%;
      height: $itemHeightLg;
      line-height: $itemHeightLg;
      background-color: $darkGreen;
      color: white;
      text-align: center;
      font-size: 1.2rem;
      margin-right: 10px;
    }

  }

  .unready {
    background-color: $darkRed !important;
  }

}

// round one view
#app[data-state="roundOne"] {

  $labelWidth: 60px;

  label {
    width: $labelWidth;
  }

  input[name^="idea"] {
    width: $itemWidth - $labelWidth;
  }

}

// round two view
#app[data-state="roundTwo"] {

  .idea-list-container {
    width: $itemWidth;

    ul {
      list-style-type: none;
      width: 100%;
      max-height: 200px;
      overflow: auto;
      padding: 0;
      border: $listContainerBorder;

      li {
        padding-left: $itemPadding;
        border: $listItemBorder;
      }
    }

  }

  .new-idea-container {
    width: $itemWidth;

    $labelWidth: 60px;
    label {
      width: $labelWidth;
    }

    $origin-width: 70px;
    input[name^="origin"] {
      width: $origin-width;
    }

    input[name^="idea"] {
      width: $itemWidth - $labelWidth - $origin-width;
    }

  }

}

// vote view
#app[data-state="roundVote"] {

  .vote-list-container {
    width: $itemWidth;
    height: $height - 150px;
    overflow-y: auto;

    ul {
      list-style-type: none;
      width: 100%;
      max-height: 350px;
      overflow: auto;
      padding: 0;
      border: $listContainerBorder;

      li {
        padding-left: $itemPadding;
        border: $listItemBorder;
      }

    }
  }

}

// result view
#app[data-state="result"] {
  ul {
    list-style-type: none;
    width: 100%;
    max-height: 480px;
    overflow: auto;
    padding: 0;
    border: $listContainerBorder;

    li {
      padding-left: $itemPadding;
      border: $listItemBorder;


      .vote-count {
        color: $darkGreen;
        font-weight: bold;
      }
    }

  }
}

.cursor-ptr {
  cursor: pointer;
}

.cursor-ptr:hover, .cursor-ptr:focus {
  border: 1px solid #000077 !important;
}

.highlight {
  box-shadow: 0 0 5px yellow;
}

.selected {
  background-color: $lightGreen;
}
